<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nordestina Delivery - Login</title>
    <link rel="stylesheet" href="static/login_style.css">
</head>
<header>
    <section class="logo">
        <img class="cacto" src="static/cacto.png">
        <a href="http://127.0.0.1:5000"><section>Nordestina Delivery</section></a>
    </section>
    <ul class="menu">
        <h1><a href="http://127.0.0.1:5000/patri">Patrocinadores</a></h1>
        <h2><a href="http://127.0.0.1:5000/login">Login</a></h2>
        <h3><a href="http://127.0.0.1:5000/cadastrar">Cadastre-se</a></h3>
    </ul>
</header>
<body>

    <section class="container">
        <article>
            <a href="http://127.0.0.1:5000"><img class="seta_voltar" src="static/pngwing.com.png" href="index.html"></a>
        <h1>Login</h1>
        <form method="post">
            <article class="login_texto">
                <input type="text" required>
                <label>Usuário</label>
            </article>
            <article class="login_texto">
                <input type="password" required>
                <label>Senha</label>
            </article>
            <input type="submit" value="Login">
            <article class="link_cadastro">
                Novo aqui? <a href="index_cadastro.html">Cadastre-se</a>
            </article>
            <a href="/cadastro"><article class="adm">Login ADM</article></a>
        </form>
    </section>
</body>
</html>