<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nordestina Delivery</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" />

    <style>
        ::-webkit-scrollbar{
            background-color: #1d1d1d;
            width: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    </style>
    
</head>
    <header>
        <section class="logo">
            <img class="cacto" src="static/cacto.png">
            <a href="http://127.0.0.1:5000"><section>Nordestina Delivery</section></a>
        </section>
        <ul class="menu">
            <h1><a href="http://127.0.0.1:5000/patri">Patrocinadores</a></h1>
            <h2><a href="http://127.0.0.1:5000/login">Login</a></h2>
            <h3><a href="http://127.0.0.1:5000/cadastrar">Cadastre-se</a></h3>
        </ul>
    </header>
    <a name="nordestina"></a>
<section class="bem-vindo">
    <picture>
        <img src="static/zyro.com.jpg">
    </picture>
</section>
<a name="cardapio"></a>
<h1 class="cardapio">Cardápio</h1>
<body>
   <section class="container">
        <article>
            <section class="segunda">
                <a href="#segunda">
                <article class="overlay"></article>
                    <article class="seg">Segunda-Feira</article>
                    <ul class="segunda_cardapio">
                        <h1>Moqueca</h1>
                        <h2>Cuscuz</h2>
                        <h3>Cocada</h3>
                        <h4>Guaraná Jesus</h4>
                    </ul>
                    <img class="segunda_fundo" src="static/moqueca.jpg" alt="">
                </a>
            </section>
        </article>
        <article>
            <section class="terca">
                <a href="#terca">
                <article class="overlay"></article>
                <article class="ter">Terça-Feira</article>
                <ul class="terca_cardapio">
                    <h1>Mocotó</h1>
                    <h2>Paçoca de Carne</h2>
                    <h3>Doce de banana</h3>
                    <h4>Tiquira</h4>
                </ul>
                    <img class="terca_fundo" src="static/mocoto-de-boi-1.jpg" alt="">
                </a>
            </section>
        </article>
        <article>
            <section class="quarta">
                <a href="#quarta">
                <article class="overlay"></article>
                    <article class="qua">Quarta-Feira</article>
                    <ul class="quarta_cardapio">
                        <h1>Buchada</h1>
                        <h2>Panelada</h2>
                        <h3>Doce de leite</h3>
                        <h4>Cachimbo</h4>
                    </ul>
                    <img class="quarta_fundo" src="static/buchada.jpg" alt="">
                </a>
            </section>
        </article>
        <article>
            <section class="quinta">
                <a href="#quinta">
                <article class="overlay"></article>
                    <article class="qui">Quinta-Feira</article>
                    <ul class="quinta_cardapio">
                        <h1>Baião de Dois</h1>
                        <h2>Vatapá</h2>
                        <h3>Torta búlgara</h3>
                        <h4>Licor</h4>
                    </ul>
                    <img class="quinta_fundo" src="static/baiao.jpg" alt="">
                </a>
            </section>  
        </article>
        <article>
            <section class="sexta">
                <a href="#sexta">
                <article class="overlay"></article>
                <article class="sex">Sexta-Feira</article>
                <ul class="sexta_cardapio">
                    <h1>Acarajé</h1>
                    <h2>Peixada</h2>
                    <h3>Pamonha</h3>
                    <h4>Melaço de cana</h4>
                </ul>
                    <img class="sexta_fundo" src="static/acaraje.jpg" alt="">
                </a>
            </section>    
        </article>
        <article>
            <section class="sabado">
                <a href="#sabado">
                <article class="overlay"></article>
                <article class="sab">Sábado</article>
                <ul class="sabado_cardapio">
                    <h1>Bobó de camarão</h1>
                    <h2>Feijão Fradinho</h2>
                    <h3>Doce de banana</h3>
                    <h4>Cravinho</h4>
                </ul>
                    <img class="sabado_fundo" src="static/bolo.png" alt="">
                </a>
            </section>    
        </article>

        <section class="container_domingo">
            <section class="domingo">
                <a href="#domingo">
                <article class="overlay"></article>
                <article class="dom">Domingo</article>
                <ul class="domingo_cardapio">
                    <h1>Feijoada</h1>
                    <h2>Farofa de dendê</h2>
                    <h3>Bolo de rolo</h3>
                    <h4>Cachaça 51</h4>
                </ul>
                    <img class="domingo_fundo" src="static/feijoada.jpg" alt="">
                </a>
            </section>
        </section>
    </section>
    </section>


    <a name="segunda"></a>
        <h1 class="cardapio">Cardápio Segunda-Feira</h1>

        <section class="container">
        <article>
            <section class="moqueca">
                <article class="overlay"></article>
                    <article class="moq">Moqueca</article>
                    <ul class="moqueca_desc">
                        <h1>Um ensopado à base de peixe e frutos do mar, temperado com ervas e pimentas</h1>
                        <h2>R$ 45,00</h2>
                    </ul>
                    <img class="mocoto_foto" src="static/moqueca.jpg" alt="">
            </section>
        </article>
        <article>
            <section class="cuscuz">
                <article class="overlay"></article>
                    <article class="cus">Cuscuz</article>
                    <ul class="cuscuz_desc">
                        <h1>Consiste num preparado de sêmola de cereais, principalmente o trigo</h1>
                        <h2>R$ 15,00</h2>
                    </ul>
                    <img class="cuscuz_foto" src="static/cuscuz.jpg" alt="">
            </section>
        </article>
        <article>
            <section class="cocada">
                <article class="overlay"></article>
                    <article class="coc">Cocada</article>
                    <ul class="cocada_desc">
                        <h1>Um doce à base de coco</h1>
                        <h2>R$ 8,00</h2>
                    </ul>
                    <img class="cocada_foto" src="static/cocada-de-maracuja-6.jpeg" alt="">
            </section>
            </section>
        </article>
        <section class="container_guarana">
            <section class="guarana">
                <article class="overlay"></article>
                    <article class="gua">Guaraná Jesus</article>
                    <ul class="guarana_desc">
                        <h1>Um refrigerante cor-de-rosa feito à base de cravo e canela, mas tem sabor de tutti-frutti</h1>
                        <h2>R$ 6,50</h2>
                    </ul>
                    <img class="guarana_foto" src="static/guaranajesus-97fec530.jpg" alt="">
            </section>
        </section>
    </section>

    <a name="terca"></a>
        <h1 class="cardapio">Cardápio Terça-Feira</h1>

        <section class="container">
            <article>
                <section class="mocoto">
                    <article class="overlay"></article>
                        <article class="moc">Mocotó</article>
                        <ul class="mocoto_desc">
                            <h1>Ainda segundo especialistas, o pé do boi ou mocotó além de riquíssimo em proteínas e minerais, faz bem para os nervos</h1>
                            <h2>R$ 25,00</h2>
                        </ul>
                        <img class="mocoto_foto" src="static/mocoto-de-boi-1.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="pacoca">
                    <article class="overlay"></article>
                        <article class="pac">Paçoca de Carne</article>
                        <ul class="pacoca_desc">
                            <h1>A carne-seca é batida no pilão até formar uma paçoca</h1>
                            <h2>R$ 35,00</h2>
                        </ul>
                        <img class="pacoca_foto" src="static/pacocacarneseca-1200x900.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="banana">
                    <article class="overlay"></article>
                        <article class="ban">Doce de banana</article>
                        <ul class="banana_desc">
                            <h1>Um doce à base de banana</h1>
                            <h2>R$ 12,00</h2>
                        </ul>
                        <img class="banana_foto" src="static/como-fazer-doce-de-banana-caseiro.jpg" alt="">
                </section>
                </section>
            </article>
            <section class="container_tiquira">
                <section class="tiquira">
                    <article class="overlay"></article>
                        <article class="tiq">Tiquira</article>
                        <ul class="tiquira_desc">
                            <h1>De forte teor alcoólico e geralmente de cor roxa, é obtida através da destilação artesanal da mandioca fermentada</h1>
                            <h2>R$ 25,00</h2>
                        </ul>
                        <img class="tiquira_foto" src="static/tiquira.jpg" alt="">
                </section>
            </section>
    </section>

    <a name="quarta"></a>
        <h1 class="cardapio">Cardápio Quarta-Feira</h1>

        <section class="container">
            <article>
                <section class="buchada">
                    <article class="overlay"></article>
                        <article class="buc">Buchada</article>
                        <ul class="buchada_desc">
                            <h1>a buchada é feita com as entranhas (rins, fígado e vísceras) do bode, lavadas, fervidas, cortadas, temperadas e cozidas em bolsas</h1>
                            <h2>R$ 45,00</h2>
                        </ul>
                        <img class="buchada_foto" src="static/buchada.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="panelada">
                    <article class="overlay"></article>
                        <article class="pan">Panelada</article>
                        <ul class="panelada_desc">
                            <h1>um cozido de peças de boi que resulta num prato pesado e saciante, à semelhança da dobradinha</h1>
                            <h2>R$ 35,00</h2>
                        </ul>
                        <img class="panelada_foto" src="static/panelada.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="leite">
                    <article class="overlay"></article>
                        <article class="lei">Doce de Leite</article>
                        <ul class="leite_desc">
                            <h1>Um doce de leite cremoso e clarinho para comer de colher</h1>
                            <h2>R$ 15,00</h2>
                        </ul>
                        <img class="leite_foto" src="static/doce-de-leite.jpeg" alt="">
                </section>
                </section>
            </article>
            <section class="container_cachimbo">
                <section class="cachimbo">
                    <article class="overlay"></article>
                        <article class="cac">Cachimbo</article>
                        <ul class="cachimbo_desc">
                            <h1>Não, não estamos falando de fumo, mas de uma verdadeira iguaria que mistura frutas típicas à bebidas alcoólicas</h1>
                            <h2>R$ 30,00</h2>
                        </ul>
                        <img class="cachimbo_foto" src="static/cachimbo.png" alt="">
                </section>
            </section>
    </section>

    <a name="quinta"></a>
        <h1 class="cardapio">Cardápio Quinta-Feira</h1>

        <section class="container">
            <article>
                <section class="baiao">
                    <article class="overlay"></article>
                        <article class="bai">Baião-de-dois</article>
                        <ul class="baiao_desc">
                            <h1>Arroz com feijão já se completam, combinados com carne-seca, queijo de coalho e bacon então</h1>
                            <h2>R$ 55,00</h2>
                        </ul>
                        <img class="baiao_fundo" src="static/baiao.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="vatapa">
                    <article class="overlay"></article>
                        <article class="vat">Vatapá</article>
                        <ul class="vatapa_desc">
                            <h1> O seu preparo comtém pão molhado ou farinha de rosca, fubá, gengibre, pimenta-malagueta, tomate e castanahs</h1>
                            <h2>R$ 15,00</h2>
                        </ul>
                        <img class="vatapa_foto" src="static/vatapa.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="torta">
                    <article class="overlay"></article>
                        <article class="tor">Torta Búlgara</article>
                        <ul class="torta_desc">
                            <h1> com apenas quatro ingredientes: ovos, chocolate em pó, açúcar e manteiga. Sem farinha de trigo, sem leite e muito sabor</h1>
                            <h2>R$ 12,00</h2>
                        </ul>
                        <img class="torta_foto" src="static/torta.jpg" alt="">
                </section>
                </section>
            </article>
            <section class="container_licor">
                <section class="licor">
                    <article class="overlay"></article>
                        <article class="lic">Licor</article>
                        <ul class="licor_desc">
                            <h1>Alto teor alcoólico e um forte sabor</h1>
                            <h2>R$ 35,50</h2>
                        </ul>
                        <img class="licor_foto" src="static/licor.jpeg" alt="">
                </section>
            </section>
    </section>

    <a name="sexta"></a>
        <h1 class="cardapio">Cardápio Sexta-Feira</h1>

        <section class="container">
            <article>
                <section class="acaraje">
                    <article class="overlay"></article>
                        <article class="aca">Acarajé</article>
                        <ul class="acaraje_desc">
                            <h1>Trata-se de um bolinho feito de massa de feijão-fradinho, cebola e sal, e frito em azeite de dendê</h1>
                            <h2>R$ 15,00</h2>
                        </ul>
                        <img class="acaraje_foto" src="static/acaraje.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="peixada">
                    <article class="overlay"></article>
                        <article class="pei">Peixada</article>
                        <ul class="peixada_desc">
                            <h1>Garoupa preparada com ervas e azeite</h1>
                            <h2>R$ 45,00</h2>
                        </ul>
                        <img class="peixada_foto" src="static/peixada.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="pamonha">
                    <article class="overlay"></article>
                        <article class="pam">Pamonha</article>
                        <ul class="pamonha_desc">
                            <h1>Um quitute a base de milho</h1>
                            <h2>R$ 8,00</h2>
                        </ul>
                        <img class="pamonha_foto" src="static/pamonha.jpg" alt="">
                </section>
                </section>
            </article>
            <section class="container_cana">
                <section class="cana">
                    <article class="overlay"></article>
                        <article class="can">Melaço de Cana</article>
                        <ul class="cana_desc">
                            <h1>Contém açúcares redutores e parte de sacarose não cristalizada</h1>
                            <h2>R$ 19,99</h2>
                        </ul>
                        <img class="cana_foto" src="static/cana.jpg" alt="">
                </section>
            </section>
    </section>

    <a name="sabado"></a>
        <h1 class="cardapio">Cardápio Sábado</h1>

        <section class="container">
            <article>
                <section class="camarao">
                    <article class="overlay"></article>
                        <article class="cam">Bobó de Camarão</article>
                        <ul class="camarao_desc">
                            <h1>Um delicioso Bobó de Camarão com ervas, pimentão, pimenta-biquinho, azeite e, claro, camarões grandes</h1>
                            <h2>R$ 45,00</h2>
                        </ul>
                        <img class="camarao_foto" src="static/camarao.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="feijao">
                    <article class="overlay"></article>
                        <article class="fei">Feijão Fradinho</article>
                        <ul class="feijao_desc">
                            <h1>Acompanhado de calabresa e bacon</h1>
                            <h2>R$ 25,00</h2>
                        </ul>
                        <img class="feijao_foto" src="static/feijao.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="moleque">
                    <article class="overlay"></article>
                        <article class="mol">Pé de moleque</article>
                        <ul class="moleque_desc">
                            <h1>Um doce crocante a base de amendoim</h1>
                            <h2>R$ 2,50</h2>
                        </ul>
                        <img class="moleque_foto" src="static/moleque.jpg" alt="">
                </section>
                </section>
            </article>
            <section class="container_cravinho">
                <section class="cravinho">
                    <article class="overlay"></article>
                        <article class="cra">Cravinho</article>
                        <ul class="cravinho_desc">
                            <h1>Uma infusão de cachaça com cachaça, mel, cravo e limão</h1>
                            <h2>R$ 35,50</h2>
                        </ul>
                        <img class="cravinho_foto" src="static/cravinho.png" alt="">
                </section>
            </section>
    </section>

    <a name="domingo"></a>
        <h1 class="cardapio">Cardápio Domingo</h1>

        <section class="container">
            <article>
                <section class="feijoada">
                    <article class="overlay"></article>
                        <article class="feijo">Feijoada</article>
                        <ul class="feijoada_desc">
                            <h1>Uma mistura de feijões pretos e carnes de boi e de porco. Costuma ser servida com couve refogada, pedaços de laranja e farofa</h1>
                            <h2>R$ 65,00</h2>
                        </ul>
                        <img class="feijoada_foto" src="static/feijoada1.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="farofa">
                    <article class="overlay"></article>
                        <article class="far">Farofa de Dendê</article>
                        <ul class="farofa_desc">
                            <h1>Uma deliciosa farofa de dendê preparada no dia</h1>
                            <h2>R$ 10,00</h2>
                        </ul>
                        <img class="farofa_foto" src="static/farofa.jpg" alt="">
                </section>
            </article>
            <article>
                <section class="bolo">
                    <article class="overlay"></article>
                        <article class="bol">Bolo de Rolo</article>
                        <ul class="bolo_desc">
                            <h1>A massa é feita com farinha de trigo, ovos, manteiga e açúcar. Recheada com goiabada</h1>
                            <h2>R$ 12,00</h2>
                        </ul>
                        <img class="bolo_foto" src="static/bolo.png" alt="">
                </section>
                </section>
            </article>
            <section class="container_guarana">
                <section class="guarana">
                    <article class="overlay"></article>
                        <article class="gua">Cachaça 51</article>
                        <ul class="guarana_desc">
                            <h1> É uma cachaça feita através de processos produtivos de alta tecnologia e distribuída em larga escala todo o país</h1>
                            <h2>R$ 10,50</h2>
                        </ul>
                        <img class="guarana_foto" src="static/51.jpg" alt="">
                </section>
            </section>
    </section>
</body>
</html>