<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nordestina Delivery - Login</title>
    <link rel="stylesheet" href="static/patrocinadores_style.css">
</head>

    <style>
        ::-webkit-scrollbar{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    </style>

<header>
    <section class="logo">
        <img class="cacto" src="static/cacto.png">
        <a href="http://127.0.0.1:5000"><section>Nordestina Delivery</section></a>
    </section>
    <ul class="menu">
        <h1><a href="http://127.0.0.1:5000/patri">Patrocinadores</a></h1>
        <h2><a href="http://127.0.0.1:5000/login">Login</a></h2>
        <h3><a href="http://127.0.0.1:5000/cadastrar">Cadastre-se</a></h3>
    </ul>
</header>
<h1 class="patrocinadores">Patrocinadores</h1>
<body>
    <section class="container">
        <a href="http://127.0.0.1:5000/port_guilherme" target="_blank">
            <section class="eu">
                <h1>Guilherme Souza Ribeiro</h1>
                <img src="static/eu.jpg" alt="">
                <article class="overlay"></article>
            </section>
        </a>
    </section>
    <section class="container">
        <a href="http://127.0.0.1:5000/port_luigi" target="_blank">
        <section class="luigi">
            <h1>Luigi Marinho Generali</h1>
            <img src="static/luigi.jpg" alt="">
            <article class="overlay"></article>
        </section>
        </a>
    </section>
    <section class="container">
        <a href="http://127.0.0.1:5000/port_luis" target="_blank">
            <section class="luis">
                <h1>Luis Felipe Pereira</h1>
                <img src="static/luis.jpg" alt="">
                <article class="overlay"></article>
            </section>
        </a>
    </section>
    <section class="container">
        <a href="http://127.0.0.1:5000/port_nonas" target="_blank">
            <section class="nonas">
                <h1>Vinícius Nonato Silva</h1>
                <img src="static/nonas.jpg" alt="">
                <article class="overlay"></article>
            </section>
        </a>
    </section>
</body>
</html>