<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/port_luis.css" type="text/css" />
    <title>Luis Felipe</title>
</head>
<body >
    <section id="principal">
        <header id="topo">
            <h1 class="inicio">Bem-vindo ao meu Portfólio</h1>
        </header>
        <article id="esquerda">
            <h2 class="centro">Sobre mim</h2>
            <h3 class="margem">&nbsp&nbsp&nbsp&nbsp&nbsp Olá! Eu sou o Luis Felipe, estou cursando Ciência da Computação. Gosto também de esportes e música e uso eles para distrair minha cabeça.
        <p></p>&nbsp&nbsp&nbsp&nbsp&nbsp Entretanto, atualmente estou adorando o curso que estou fazendo. E sempre tento ir atrás de novas informações nas áreas da programação para estar dentro de tudo. </h3>
        </article>
 
        <article id="direita">
                <img class="perfil" src="static/foto Luis.jpeg"> 
        </article>
    </section>

    <section id="principal1">
        <header id="topo">
            <h1 class="Carreira">Carreira</h1>
        </header>
        <article id="esquerda">
            <img class="perfil" src="static/carreira.png"> 
        </article>

        <article id="direita">
            <h2 class="margem medio">
                <li>Fui coordenador do grupo Pastoral do Adolescente</li>
                <br>
                <li>Participei de Iniciação Científica da Unifai</li>
                <br>
                <Li>Participei de campeonatos de jiu jitsu</Li>
                <br>
                <li>Trabalhei como vendedor</li>
                </h2>
    </article>
    </section>
    
    <section id="principal">
        <header id="topo">
            <h1 class="competencia">Competência</h1>
        </header>
        <article id="esquerda">
            <h2 class="margem medio">
                <li>Ensino medio completo</li>
                <br>
                <li>inglês e espanhol intermediário</li>
                <br>
                <Li>Noçoes basicas de C++ e Python</Li>
                <br>
                <li>Conhecimento basicao de word e exel</li>
                <br>
                <li>Tenho bom desempenho em grupo</li>
                </h2>
                
            </article>
 
        <article id="direita">
                 <img class="comp" src="static/gif.gif"> 
        </article>
    </section>
    <section id="principal">
        <header id="topo">
            <h1 class="extra">Extra</h1>
        </header>
        <article id="esquerda">
            <h2 class="centro">Curiosidade
                <h3 class="margem">
                    <li>Não tenho nenhuma tatuagem nem piercing</li>
                    <br>
                    <li>já participei de campeonatos de lutas</li>
                    <br>
                    <li>Gosto de jogar valorant</li>
                    <br>
                    <li>Toco violão faz 3 anos</li>
                    <br>
                    <li>Gosto de conversar</li>
                </h3>
        </h2>
                
            </article>
 
        <article id="direita">
            <h2 class="centro">Contato
                <h3 class="margem">
                    <li><a href="https://www.linkedin.com/in/luis-felipe-pereira-397585237/">Linkedin</a></li>
                    <br>
                    <li><a href="https://www.instagram.com/lyuis_ilumi/">Instagram</a></li>
                    <br>
                    <li><a href="https://github.com/lyuisilumi">Github</a></li>
                    <br>
                </h3>
        </h2>
        </article>
    </section>
</body>
</html>