<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/port.css" type="text/css" />
    <title>Guilherme Souza Ribeiro</title>
</head>
<body>
    <section class="conteiner_topo">
        <img src="static/topo.jpg"\>
        <a class="sobre_mim" href="#id-sobre">Sobre Mim</a>

        <a class="projetos_topo" href="#id-projetos">projetos</a>

        <article class="nome" >Guilherme Souza Ribeiro</article> 
        <article class="estudante animacao_escrita">Estudante de Ciência da Computação</article>
        <article class="email">contato: guilhermesouza281@protonmail.com</article>
    </section>

    <a name="id-sobre"></a>
    <section class="conteiner_sobre">
        <img src="static/sobre.jpg"\>
        <header id="retangulo_cima"></header>
            <article class="sobre_cima">Me chamo Guilherme, tenho 18 anos e</article>
            <article class="sobre_baixo">atualmente estou cursando Ciência da Computação na UNOESTE</article>
        <footer id="retangulo_baixo"></footer>

        <header class="interesses">interesses</header>
            <article class="interesses_back">➼ Back-End</article>
            <article class="interesses_dados">➼ Ciência de Dados</article>
            <article class="interesses_seguranca">➼ Segurança</article>
            <article class="interesses_web">➼ Desenvolvimento web</article>
            <article class="interesses_tecnologia">➼ Tecnologia da Informação</article>

        <header class="formacao">Formação</header>
            <article class="formacao_harvard">➼ CC50 - Universidade de Harvard</article>
            <article class="formacao_google">➼ Marketing Digital - Google</article>
            <article class="formacao_operador">➼ Operador de computador - zip</article>
                <article class="operador_excel">⮩ Microsoft Excel</article>
                <article class="operador_word">⮩ Microsoft Word</article>
                <article class="operador_pp">⮩ Microsoft Power-Point</article>
                <article class="operador_premier">⮩ Adobe Premier</article>
                <article class="operador_photoshop">⮩ Adobe Photoshop</article>
                <article class="operador_corel">⮩ CorelDraw</article>
                <article class="operador_windows">⮩ Domínio de Windows 7, 8, 10, 11</article>
            <article class="formacao_medio">➼ Ensino Médio Completo</article>

        <header class="habilidades">Habilidades e competências</header>
            <article class="manipulacao">Manipulação de mídias - Edição de Vídeos e Imagens</article>
            <article class="pacote">Domínio Pacote Office - Excel / Word / Power-Point</article>
            <article class="marketing">Marketing Digital - Google Ateliê</article>
            <article class="ingles">Inglês avançado</article>
    </section>

    <a name="id-projetos"></a>
    <section class="conteiner_projetos">
        <section class="No_Oxygen">
            <img src="static/projetos.jpg"\>
            <header class="projetos">projetos</header>

            <header class="no_oxygen">No Oxygen</header>
            <header class="subtitulo">Um jogo 2D de plataforma feito em Scratch</header>
            <section class="conteiner_img_oxygen1">
                <img src="static/fase1.gif"\>
                <article class="fase1">Loading e menu interativo!</article>
            </section>
            <section class="conteiner_img_oxygen2">
                <img src="static/fase2.gif"\>
                <article class="fase2">Inimigos e fases desafiadoras!</article>
            </section>
            <section class="conteiner_img_oxygen3">
                <img src="static/fase3.gif"\>
                <article class="fase3">Bosses com o tema de cada nível!</article>

            <a class="clique" href="https://scratch.mit.edu/projects/729278018/" target="_blank">Clique aqui para jogar!</a>
        </section>
        <section class="Jogo_Milhao">
            <img src="static/milhao.jpg"\>
            <article class="Jogo">Jogo do Milhão</article>
            <section class="conteiner_img_milhao">
                <img src="static/ezgif.com-gif-maker (1).gif"\>
                <article class="milhao_linha1">Uma paródia do famoso programa de TV Show do Milhão, feito 100% em PYTHON com</article>
                <article class="milhao_linha2">verificadores e autentificadores completos</article>
            </section>
        </section>

    </section>
</body>
</html>