<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="static/css.css" media="screen"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio | Vinícius Nonato Silva</title>
</head>
<body>
        <header class="header"> 
            <h1 class="h1"> Portifólio | Vinícius Nonato Silva <br></h1>
        </header>
        <section class="container"> <br> <br> <br> <br> <br> 
                <h2 class="h2"> Histórico Escolar / Habilidades sociais e profissionais</h2>
                <img src="static/eu.jpeg" class="img"> 
                <p class="p"> 
        </section>
        <section> 
            <p class="p"> <b class="b">Escolaridade</b> <br> <br> Colégio Cooperativo (Ensino Fundamental), 2009 - 2018 <br>
            Etec Amim Jundi 2019 (Ensino Médio), - 2021 <br>
            Inglês Básico, 2009 - 2019 (Fisk) <br>
            Curso Técnico de Análise e Desenvolvimento de Sistemas (Etec Amim Jundi), 2019 - 2021. <br> <br><br>

            <b class="b">Experiências De trabalho </b> <br><br>
            Auxíliar de Ensino(Kumon), 2017 - 2021 <br>
            Desenvolvedor de Sites(Agência Evidence), 2021 - 2022 <br> <br><br>
       
            <b class="b">Softskills </b> <br> <br> 
            Comunicação eficaz<br> 
            Empatia <br> 
            Flexibilidade <br>
            Resiliência <br>
            Capacidade de resolver problemas <br> 
            Relacionamento interpessoal <br> 
            Liderança <br> 
            Visão Geral <br>
            Ética <br>
            </p>

        </section>
        <footer class="footer ">
             <a href="vininonatotika@hotmail.com" class="link">vininonato.dev@gmail.com </a>
        </footer>

</body>
</html>